body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: rgb(255, 192, 203);
}

textarea{
  background: transparent;
  /* background-color: rgb(243, 117, 138); */
  border: none;
  resize: none;
  color: #aef1ac;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 20px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid #aef1ac;
}

.hour {
  background-color: #aef1ac;
  color: #000000;
  border-top: 1px dashed #82e57f;
}

.past {
  background-color: #4e4b4b;
  color: white;
}

.present {
  background-color: #95e5fd;
  color: white;
}

.future {
  background-color: #dddb77;
  color: white;
}

.saveBtn {
  border-left: 1px solid #aef1ac;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #4bd8f7;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}
